/* Handcoded by RapidxHTML - htp://www.rapidxhtml.com */

/* reset */
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

fieldset,img {
    border: 0;
}

html {
    height: 100%;
    margin-bottom: 1px;
}

body {
    position: relative;
}

/* links */
a {
    color: #3764aa;
    text-decoration: none;
}

a:hover {
    color: #008cff;
    text-decoration: underline;
}

/* header elements */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
}

h1{
    font-size: 150%;
    color: #004276;
}

h2{
    font-size: 125%;
    color: #004276;
    margin-bottom: .2em;
}

h3{
    font-size: 150%;
    color: #333333;
}

h4{
    font-size: 175%;
    color: #333333;
}

h5{
    font-size: 150%;
    color: #333333;
    margin-bottom: 10px;
}

h6{
    font-size: 125%;
    color: #333333;
}

/* page setup */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
    background: #585858 url(../images/page-bg.jpg) 50% 0 repeat-x;
}


/* wrapper setup */
div.rapidxwpr{
    margin: auto;
}

/* header */
div#header{
    position: relative;
    margin: 0px 0px 0px 0px;
}

/* logo */
div#logo{
    border: 0;
    background: #E2E2E2;
    padding: 35px 24px;
    float: left;
    margin: 14px 0 0 0;
}

div#logo h1{
    margin:0;
    padding:0;
    font-size: 20px;
}

div#logo a {
    text-decoration: none;
}

div#logo span{
    font-size:14px;
}

/* main body setup */
div#middle{
    width: auto;
    margin: 0px;
    clear: both;
    background: #FFF;
}

div#middle .background{
    min-height: 140px;
}

div#middle .layoutleft{
    background: none;
    padding-bottom:0;
}

div#middle .layoutright{
    background: none;
}

/* left column */
div#left{
    width: 200px;
}

div#middle .layoutleft div#left{
    float: left;
    padding: 0px;
}

div#middle .layoutright div#left{
    float: right;
    padding: 0px;
}

/* right column */
div#right{
    width: 285px;
    padding: 0px;
    float: right;
}

/* right column (width: 50%) */
div#equalright{
    width: 50%;
    padding: 0px;
    float: right;
}

/* content column */
div#main{
    width: auto;
    margin: 0px;
    padding: 15px 29px;
}

div#mainmiddle{
    margin: 0px 0px 0px 0px;
}

div#main .withoutright{
    background: transparent;
}

div#content{
    width: auto;
}

div#main .withright div#content{
    margin: 0px 325px 0px 0px;
    padding: 0px;
}

div#main .withoutright div#content{
    margin: 0px;
    padding: 0px;
}

/* footer */
div#footer{
    width: auto;
    clear: both;
    color: #fff;
    background-color: #A8A8A8;
    padding-bottom: 20px;
}

div#underfooter{
    width:auto;
    height: 28px;
    background-color:#A8A8A8;
    position: relative;
    top: -28px;
    z-index: -1;
}

/* clearing & floating */
.clearingfix:after{
    content: ".";
    display: block;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}

.clearingfix{
    display: block;
}

.floatbox{
    overflow: hidden;
}

/* searchbox */
div#searchbox{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #BEBEBE;
    border: #9F9F9F 2px solid;
    border-top: 0;
    width:380px;
    padding:0 0 10px 0;

}

div#loggedin_user_action{
    float:right;
    width:100%;
    text-align:right;
    padding:0px 15px 0px 0px;
}

/* languages */
div.language-box{
    padding: 0px;
    margin: 10px 0 0 15px;
    float: left;
}

div.language-box select{
    width:160px;
    margin:0;
    padding:1px;
    font-size: 11px;
    color:#00789F;
}

/* searchform */
div.search-form{
    padding: 0px;
    margin: 10px 15px 0 5px;
    float: left;
}

div.search-form ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

div.search-form ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}

div.search-form input.text{
    padding: 2px 0px 2px 0px;
    border: #9E9E9E 1px solid;
    margin: 0;
    background: #EEEEEE;
    width: 160px;
    font-size: 13px;
}

div.search-form input.searchbtn{
    border: #868686 1px solid;
    background: #EEEEEE url(../images/search-button.jpg) 5px 5px no-repeat;
    width: 24px;
    height: 21px;
    margin: 0 0 0 -4px;
    text-indent: -10000px;
    cursor: pointer;
    padding: 1px 0 19px 0;
}

/* submit incident */
div.submit-incident{
    margin: 0px 0 0 0;
    float: right;
    top:0; right:0;
}

div.submit-incident a, div.submit-incident a:hover{
    padding: 8px 10px 8px 35px;
    background-color: #368C00;
    background-image: url(../images/submit-incident.png);
    background-position:10px 8px;
    background-repeat:no-repeat;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    float: right;
}


/* mainmenu */
div#mainmenu{
    background: #C2C2C2;
    border: #FFF 2px solid;
    padding: 7px 10px;
}

div#mainmenu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

div#mainmenu li{
    float: left;
    display: block;
    margin-right: 15px;
}

div#mainmenu a{
    display: block;
    position: relative;
    padding: 7px 12px;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120%;
}

div#mainmenu a:hover, div#mainmenu a.active{
    text-decoration: none;
    background: #2E8AB8;
}

/* Filters */
div.filters{
    font-size: 85%;
    text-transform: uppercase;
    margin: 5px 0 15px;
}

div.filters strong{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/filters-bg.jpg) 100% 3px no-repeat;
    padding: 0 15px 0 0;
}

div.filters ul{
    list-style: none;
}

div.filters li{
    float: left;
    display: block;
    margin-right: 10px;
}

div.filters ul li a{
    color: #999966;
    padding: 0px 5px;
    text-decoration: none;
}

div.filters ul li a:hover, div.filters ul li a.active{
    color: #FFFFFF;
    padding: 0px 5px;
    background: #3399CC;
    text-decoration: none;
}

a.share{
    float: left;
    border-right: 1px solid #999;
    margin-top:7px;
    padding:5px 25px 5px 5px;
    background: url(../images/share.jpg) no-repeat center;
    text-indent:-2000px;
    width:125px;
    height: 18px;
}

/* Map */
div.map {
    border: #999 1px solid;
    width: 99%;
    height: 566px;
    position:relative;
}

#mapStatus {
    float: left;
    background-color: #e1e1e1;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    font-size: 10px;
    width: 99%;
}

#mapStatus div {
    float: left;
    display: inline-block;
    padding: 4px 6px 4px 6px;
}

#mapOutput sup {
    height: 0;
    line-height: 1;
    vertical-align: text-top;
    position: relative;
    font-size: 8px;
}

div.graph-holder {
    height:150px;
    overflow:hidden;
    width:573px;
}

div.slider-holder {
    font-size:70%;
    height:70px;
    margin-top:15px;
    width:554px;
    padding-left: 11px;
}

div.slider-holder label{
    color: #666666;
}

/* category filters */
div.cat-filters{
    font-size: 85%;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

div.cat-filters strong{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/cat-filters-bg.jpg) 0 3px no-repeat;
    padding: 0 0 0 10px;
}

div.cat-filters span{
    font-weight:normal;
    font-size:90%;
    margin-left:5px;
    color:#666;
    letter-spacing:2px;
}
div.cat-filters span a{
    color:#666;
}

ul.category-filters{
    background: #E7E3DA;
    border-top: #C7C2BC 7px solid;
    border-bottom: #C7C2BC 7px solid;
    list-style: none;
    padding: 12px 15px;
}

ul.category-filters li{
    padding: 0;
    margin-bottom: 2px;
    list-style-type:none;
}

ul.category-filters li a{
    display: block;
    padding: 8px 10px 8px 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #3F3F3F;
    border: #E7E3DA 1px solid;
    position: relative;
    line-height: 17px;
    overflow: hidden;
}

ul.category-filters li a:hover, ul.category-filters li a.active {
    color: #FFFFFF;
    background-color: #3484AC;
    border: #3484AC 1px solid;
}

ul.category-filters li.child{
    display:none;
}

/* additional content */
div.additional-content{
    padding: 15px;
    background: #F0F0F0;
}

div.additional-content ol {
    margin-left: 2em;
}

/* content blocks */
div.content-container{
    padding: 0 0 15px 15px;
    background: #E2E2E2;
}
ul.content-column{
    width: 100%;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}
ul.content-column li {
    float: left;
    width: 460px; /*Set default width*/
    padding: 0;
    margin: 15px 0 0 0;
    display: inline;
}
div.content-block {
    margin-right: 15px; /*Creates the 10px gap between each column*/
    padding: 15px;
    background-color: #FFFFFF;
}
div.content-block h5 span {
    font-size: 75%;
}
div.content-block img {
    /*Flexible image size with border*/
    width: 89%;     /*Took 1% off of the width to prevent IE6 bug*/
    padding: 5%;
    background:#fff;
    margin: 0 auto;
    display: block;
    -ms-interpolation-mode: bicubic; /*prevents image pixelation for IE 6/7 */
}
div.content-block-left{
    padding: 15px;
    background: #FFFFFF;
    width: 427px;
    float: left;
    margin-right: 15px;
}

div.content-block-left h5 span {
    font-size: 75%;
}

div.content-block-right{
    padding: 15px;
    background: #FFFFFF;
    width: 427px;
    float: right;
}

/* site footer */
div.site-footer{
    padding: 15px 15px 0 15px;
    background: #FFFFFF;
}

/* footer menu */
div.footermenu{
    margin: 0 10px;
    float: left;
}

div.footermenu ul{
    list-style: none;
    margin: 0 0 10px 0;
}

div.footermenu ul li{
    list-style: none;
    float: left;
}

div.footermenu ul li a{
    color: #FFFDCC;
    border-left: #FFFDCC 1px solid;
    padding: 0 10px;
    text-decoration: underline;
}

div.footermenu ul li a.item1{
    border: none;
    padding-left: 0;
}

div.footermenu ul li a:hover{
    text-decoration: none;
}

/* footer credits */
div.footer-credits{
    float: right;
    font-size: 70%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px 0 0;
}

/* Reports */

#main .left-col { float:left; width:520px; margin-right:20px }
#main .right-col { float:right;width:350px; }

div.report-details{
    width: 300px;
    float: right;
    margin: 20px 0 0 0;
}

.report_detail .r_verified, .report_detail .r_unverified {
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    display:block;
    float:right;
    margin:4px 0 0 18px;
    padding:3px 5px;
    text-align:center;
    text-transform:uppercase;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.report_detail .r_verified { background:#368C00; }
.report_detail .r_unverified { background:#A60003; }

.report_detail .r_location { background: transparent url(../images/icon_sprite.png) -5px -163px no-repeat; }
.report_detail .r_date { background: transparent url(../images/icon_sprite.png) -4px -133px no-repeat; }

.report-when-where { color:#908B88; margin-bottom:10px; }
.report-when-where span { padding:3px 5px 3px 18px;  }

div.report-category-list {
    border-top:1px dotted #C0C2B8;
    border-bottom:1px dotted #C0C2B8;
    padding:10px 0px;
    overflow:auto;
}

div.report-category-list a {
    font-size:11px;
    padding:1px 5px;
    margin:0px 5px 5px 0;
    background:#fffded;
    display:inline-block;
    float:left;
    line-height:18px;
    color:#828784;
}

div.report-category-list a:hover { text-decoration:none; color:#333; }
div.report-category-list a span.r_cat-box { height:16px; width:16px; display:inline-block; margin:3px 3px 3px 0; }

div.report-media { padding:10px 0; border-bottom:1px dotted #C0C2B8;; }

#report-images { }
#report-video { padding:10px 0 0 0; }
#report-video ol { overflow:auto; }
#report-video ol li { float:left; display:list-item; list-style-position:inside; margin-right:10px; }

div.report-description-text {
    padding:10px 0;
    margin-bottom:18px;
}

div.report-description-text h5 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.report-description-text .feature_label,
div.report-description-text .feature_comment{
    font-size:90%;
    margin:0 0 0 10px;
    padding:3px;
    background-color:#fffded;
}
div.report-description-text .feature_label{
    font-weight:bold;
}

div.report-description-text .feature_comment{
    font-size:90%;
}

div.credibility {
    margin-top:10px;
    padding:3px;
    border-top:1px dotted #C0C2B8;
}

div.report-title {
    padding-bottom:0px;
}

div.report-comments {
    border-bottom:#000000 dotted 1px;
    padding:5px 0px;
}

div.report-comments h5 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.report-comment-box {
    margin-bottom:15px;
    padding:5px 0 0 10px;

}

div.comment-block {
    padding:5px 0px; background:#F2F2F2;
}

div.comment-block h5 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.comment-block form { padding:0 0 0 10px; }

div.report-media-box-tabs { float:right;  }
div.report-media-box-tabs ul { list-style: none; padding: 0; margin: 0; float:left; }
div.report-media-box-tabs li { display:inline; list-style-type:none; margin: 0 0 0 2px; text-align:right; }
div.report-media-box-tabs a {
    display: inline-block;
    padding: 2px 7px;
    font-weight:bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom:0;
}
div.report-media-box-tabs a:hover { text-decoration:none; cursor:pointer; color:#333; }
div.report-media-box-tabs .report-tab-selected { }
div.report-media-box-tabs .report-tab-selected a { background:#C0C2B8; color:#333; }
div.report-media-box-tabs .report-tab-selected a:hover { text-decoration:none; }

div.report-media-box-content {
    clear: both;
    padding:5px 0px;
}

div.report-media-box {
}

/* Map Toggles */
ul.map-toggles { overflow:auto; }
ul.map-toggles li { display:none; float:right; list-style-type: none; }

ul.map-toggles li a,
ul.map-toggles li a:active { display:inline-block; padding:3px 5px 3px 17px; outline:none; }

a.wider-map { background:transparent url(../images/icon_sprite.png) -4px -202px no-repeat; }
a.taller-map { background:transparent url(../images/icon_sprite.png) -4px -221px no-repeat; }
a.shorter-map { background:transparent url(../images/icon_sprite.png) -4px -241px no-repeat; }
a.smaller-map { background:transparent url(../images/icon_sprite.png) -4px -182px no-repeat; }

div.report-additional-reports { padding-top: 5px; border-bottom:1px dotted #C0C2B8; }
div.report-additional-reports .rb_report {  }

div.report-additional-reports h4 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.report-additional-reports h5 { font-size:12px; margin:4px 120px 2px 0; }
div.report-additional-reports .r_date { font-size:10px; background:#f2f2f2 url(../images/icon_sprite.png) 0px -133px no-repeat; }
div.report-additional-reports .r_location { font-size:10px; padding:3px 0 3px 18px; color:#828784; }
div.report-details ul.details{ list-style: none; }

div.report-details ul.details li{
    list-style: none;
    border-bottom: #EEEEEE 1px solid;
    padding: 5px 0;
    color: #666666;
    font-size: 11px;
}

div.report-details ul.details li small{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    margin: 0 0 5px 0;
}

div.report-details ul.details li a{
    background: #E2E2E2;
    padding: 1px 4px 2px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #004276;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
}

div.report-details ul.details li a:hover{ text-decoration: none; }

.photos { font-size: 40px; padding: .3em; }
.photos img { vertical-align: bottom; }

/* reports description */
div.report-description{
    border: #E8E4DB 5px solid;
    border-top: 0;
    margin: 0px 30px 20px 30px;
}

div.report-description h5{
    margin: 10px 0px 0px 15px;
    padding: 0px;
    text-transform: uppercase;
    font-size:12px;
}

div.report-description h3{
    background: #C7C3BC;
    color: #393535;
    padding: 0;
    margin: 0 -5px;
    padding: 5px 10px;
}

div.report-description div.content{
    background: #F9F8F5;
    border: #DDDCDC 1px dashed;
    margin: 5px 15px 15px 15px;
    padding: 10px 15px;
    font-size: 14px;
}

div.report-description div.credibility{
    margin: 10px 0 0 20px;
}

div.report-description div.additional-reports{
    margin: 15px;
}

div.report-description div.additional-reports a{
    color: #004276;
    text-decoration: underline;
}

div.additional-reports{
    margin: 15px;
    padding: 0px;
}

/* table list */
table.table-list{
    width: 100%;
}

table.table-list, table.table-list td{
    border-collapse: collapse;
}

table.table-list thead th{
    color: #666666;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
    font-size: 11px;
}

table.table-list thead th.title{
    width: 60%;
}

table.table-list thead th.location{
    width: 20%;
}

table.table-list thead th.source{
    width: 20%;
}

table.table-list thead th.date{
    width: 15%;
}

table.table-list tbody tr td{
    padding: 5px;
    font-size: 11px;
    border-bottom: #EEEEEE 1px solid;
    vertical-align: top;
}

table.table-list tbody tr td a{
    color: #0099CC;
}

div.location{
    float: right;
    width: 302px;
}

div.report-map{
        margin-bottom:10px;
}
div.incident-notation{
    margin: 0 0 5px 0;
}

div.incident-notation ul{
    list-style: none;
    float: right;
}

div.incident-notation ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
    color: #999966;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

/* media files */
.report-map .map-holder {
    clear:both;
    width:100%;
    height:350px;
    border: 1px solid #C0C2B8;
    border-bottom:2px solid #C0C2B8;
}


.more{
    float: right;
    margin: 20px 20px 10px 10px;
    color: #004276;
    font-weight: bold;
    text-decoration: underline;
}

.swatch {
    float:left;
    height:16px;
    margin-right: 8px;
    width:16px;
    border:1px solid white;
}

.category-title {
    padding-left: 0;
}


/*-----UI Slider CSS-----*/
.ui-slider { clear: both; top: 5px; text-decoration: none !important; }
.ui-slider .ui-slider-handle  { overflow: visible !important; }
.ui-slider .ui-slider-tooltip { display: none; }
.ui-slider .screenReaderContext {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -999999999px;
}
.ui-slider .ui-state-active .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip, .ui-slider .ui-state-hover .ui-slider-tooltip {
    display: block;
    position: absolute;
    bottom: 2.5em;
    text-align: center;
    padding: .3em .2em .4em;
    font-size: .9em;
    width: 8em;
    margin-left: -3.7em;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down, .ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    position: absolute;
    display: block;
    width:0;
    height:0;
    border-bottom-width: 0;
    background: none;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down {
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-top-width: 8px;
    bottom:    -8px;
    right: auto;
    left: 50%;
    margin-left: -7px;
}
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down-inner {
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    border-top: 7px solid #fff;
    bottom:    auto;
    top: -9px;
    left: -6px;
}
.ui-slider a {
    text-decoration: none;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ui-slider ol, .ui-slider dl {
    position: relative;
    top: 1.3em;
    width: 100%;
}
.ui-slider dt {
    top: 1.5em;
    position: absolute;
    padding-top: .2em;
    text-align: center;
    border-bottom: 1px dotted #ddd;
    height: .7em;
    color: #999;
}
.ui-slider dt span {
    background: #fff;
    padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
    position: absolute;
    overflow: visible;
    color: #666;
}
.ui-slider span.ui-slider-label {
    position: absolute;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
    display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
    display: block;
}
.ui-slider span.ui-slider-tic {
    position: absolute;
    left: 0;
    height: .8em;
    top: -1.3em;
}
.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
    border-right: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-top: 0;
    border-bottom: 0;
}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
    display: none;
}

.slider-holder .play{
    float:right;
    border:1px solid #ccc;
    background-color:#eee;
    padding:3px 6px 3px 15px;
    color:#666;
    font-weight:bold;
    background-image:url(../images/arrow-play.gif);
    background-position:5px 50%;
    background-repeat:no-repeat;
    font-size:1.2em;
}

.slider-holder .pause { background-image:url(../images/pause.gif); }
.slider-holder .play a { color:#666; text-decoration:none; }
.slider-holder .play:hover{ background-color:#ffffcc; }
.slider-holder .play a:hover{ text-decoration:underline; }

/* Stylized Forms */
form {
    margin:0;
    padding:0;
}

.text, .textarea, .select, .file {
    color:#00789F;
    font-size:120%;
}

.text:focus, .textarea:focus, .select:focus, .file:focus{
    background-color:#ffffcc;
}

.text.error, .textarea.error, .select.error, .file.error{
    background-color:#FFE0DD;
    border:1px dotted red;
}

label.error {
    margin-left: 10px;
    color:red;
    font-style: italic;
    width: auto;
    display: block;
}
.text {
    padding:3px 7px;
    border:1px #ccc solid;
}
.textarea {
    padding:7px 7px 3px 7px;
    border:1px #ccc solid;
}
.select{
    overflow:hidden;
}
.long{
    width:90%;
}
.long2{
    width:80%;
    float:left;
    margin-bottom:10px;
}
.short{
    width:100px;
}
.btn_submit {
    margin: 20px 20px 0 0;
    padding: 8px 10px;
    color: white;
    background-color:#368c00;
    font-size:14px;
    cursor:pointer;
    border: 0;
}
.btn_find {
    margin:0;
    padding: 5px 10px 6px 10px;
    color: white;
    background-color:#999;
    font-size:14px;
    cursor:pointer;
    border: 0;
}

.hide { display:none; }

.report_left{ float:left; width:450px; margin:0px 0 0; padding:0 0 10px; }
.report_left table { width: 100%; }
.report_left table tr th { text-align: left; }

.report_block{ margin: 20px 0 20px 25px; }
.report_block table tr th { text-align: left; }

.report_right{ overflow:hidden; width:455px; margin:20px 0 0 25px; padding:0 0 10px; }
.report_right table { width: 100%; }
.report_right table tr th { text-align: left; }

.report-description table { width: 100%; }
.report-description table tr th { text-align: left; padding:5px; background:#E8E4DB; border-collapse:collapse; }
.report-description table tr td { padding:0 5px; }
.report-description table tr td a { display:block; padding:5px 0; }
.report-description table tr:hover { background:#f8f6f2; }

th.w-01, th.w-02 { border-right:1px dotted #fff; text-transform:capitalize; }
td.w-01, td.w-02 { border-right:1px dotted #E8E4DB; border-bottom:1px dotted #E8E4DB; text-transform:capitalize;  }
td.w-03 { border-bottom:1px dotted #E8E4DB; text-transform:capitalize; }

.w-01 { width:50%; padding:0 10px 0 0; text-transform:capitalize; }
.w-02 { width:320px; padding:0 10px 0 0; text-transform:capitalize; }

.report_bottom { clear:both; }

.report_row { margin:0 0 15px 0; clear:both; }
.report_row h4 { margin:0 0 5px 0; padding:0; font-size:120%; font-weight:bold; }
.report_row h4 .example{ font-weight: normal; font-size: 10px; line-height: 12px; color: #a1a1a1; }
.report_row .date-box{ float:left; margin-right:10px; }
.report_row .date-box img{ padding:0 5px 0 5px; }
.report_row .time{ float:left; }
.report_row .optional-info{ float:left; margin-right:10px; }

.report_category { clear:both; overflow:hidden; font-size:90%; }
.report_category ul{ width:50%; float:left; margin:0; padding:0 0 11px; }
.report_category ul li{ overflow:hidden; list-style:none; }
.report_category ul li label{ color:#555; }

/*Categories Tree*/
.report_category ul ul { width: auto; float: none; }
.report_category ul li.sub_category { padding-left: 47px; }
.report_category ul li.sub_category_last { background-position: 16px -1766px; }
.report_category ul li input.check-box { margin: 0 3px 0 0; }
.report_category ul li.hover,
.report_category ul li li:hover { background-color: #efefef; }

ul.treeview li.lastCollapsable,
ul.treeview li.lastExpandable { width:155px; }

.report_optional{
    padding:15px;
    background-color:#eee;
    width:80%;
}
.report_optional h3 {
    margin:0 0 15px 0;
    padding:0;
    font-size:130%;
    color:#999;
    font-weight:bold;
}
.report_comment, .contact{
    border:1px #ccc solid;
    padding:20px;
    background:#eee;
    clear:both;
    overflow:hidden;
}
.report_rating{ margin:15px 0 0 10px; font-size:90%; }
.report_rating div{ float:left; margin-right:3px; }

.rating_value{
    height:14px;
    font-weight:bold;
    text-align:center;
    background-color:#666;
    color:#fff;
    padding:0 4px 0 4px;
}
.rating_loading{
    margin:0 0 0 10px;
}

table.rating-table td { padding-right:3px; }
span.dots {
    width:17px;
    text-align:center;
    color:#404040;
    font-size:18px;
    font-weight:bold;
}
a.add, a.rem{
    margin:3px 0 0 5px;
    text-indent:-3000px;
    overflow:hidden;
    width:13px;
    height:13px;
    float:left;
    background:url(../images/icon-plus.gif) no-repeat;
}
a.rem { background:url(../images/icon-minus.gif) no-repeat;}
.report_map{
    overflow:hidden;
    width:100%;
    border:2px solid #ccc;
    width:100%;
    height:550px;
    position:relative;
}
.report-find-location {
    margin-right:1px;
    padding:10px 9px 9px 9px;
    background-color:#eee;
    border:1px solid #ccc;
    border-width:0 1px 1px 1px;
    font-size:90%;
    color:#666;
}
.report-find-location input.findtext {
    margin-top:9px;
    padding:5px 3px 0 3px;
    height:24px;
    float:left;
    font-size:14px;
    font-weight:bold;
    color:#666;
    width:250px;
    border:1px #ccc solid;
}
.report-find-loading{
    float:left;
    height:31px;
    margin:9px 0 0 3px;
}
a.show-more {
    text-decoration:underline;
    font-size:10px;
    padding:1px 0 0 18px;
    background:url(../images/icon-plus.gif) no-repeat 0 2px;
    float:right;
    margin-right:23px;
}

/*---big-block---*/
.big-block {
    overflow:hidden;
    padding:16px 25px 10px;
}
/* Min-Height */
.big-block{
    min-height:400px;
}
/* Min-Height for IE */
* html .big-block {
    height:400px
}
/* View Reports / Help */
.report_rowtitle, .org_rowtitle{
    margin: 0px 0 5px 0;
    padding-bottom:3px;
    border-bottom:2px #000 solid;
    overflow:auto;
}
.report_col1, .report_col2, .report_col3, .report_col4, .report_col5 {
    float:left;
    padding-right:15px;
}
.report_col1{
    width:85px;
}
.report_col2{
    width:425px;
}
.report_col3{
    width:85px;
    text-align:center;
}
.report_col4{
    width:105px;
    text-align:center;
}
.report_col5{
    width:105px;
    text-align:center;
}
.report_row1, .report_row2, .org_row1, .org_row2{
    clear:both;
    overflow:auto;
    margin:0 0 10px 0;
    padding:5px 0 5px 0;
}
.report_row1, .org_row1{
    background-color:#eee;
}
.report_row1 h3, .report_row2 h3, .org_row1 h3, .org_row2 h3{
    margin:0;
    padding:0;
    font-size:13px;
}
.report_yes, .report_no{
    font-weight:bold;
}
.report_yes{
    color:#009900;
}
.report_no{
    color:#990000;
}

.big-block .page_text p{
    margin-bottom:15px;
}

/*---alerts-block---*/
.step-1 {
    float:left;
    width:430px;
    margin:20px 0 0;
    padding:0 0 9px;
}
.step-1 h2 {
    margin:0;
    padding:0 0 0 10px;
}
.step-1 .location {
    overflow:hidden;
    width:388px;
    padding:10px;
    margin:10px 0 0 10px;
}
.step-1 .location label {
    display:block;
    padding:0 0 8px;
    font:12px/15px Arial, Helvetica, sans-serif;
}
.step-1 .map {
    overflow:hidden;
    width:407px;
    padding:10px;
    margin:10px 0 0 0;
}
.step-1 .map p {
    margin:0;
    padding:0 0 6px;
    font:12px/15px Arial, Helvetica, sans-serif;
}
.step-1 .map .map-holder {
    overflow:hidden;
    width:387px;
    height:325px;
}
.step-1 .alert_slider{
    padding:15px 15px 35px 15px;
    border:1px solid #ccc;
    background-color:#fff;
}
.step-1 .alert_slider .ui-slider span.ui-slider-label{
    font-size:8px;
}
.step-2-holder {
    float:right;
    width:450px;
}
.step-2, .step-3 {
    overflow:hidden;
    width:430px;
    margin:10px 0 0;
    padding:0 0 10px;
}
.feed {
    overflow:hidden;
    margin:50px 0 0;
    padding: 15px;
    border: 1px solid #c2c2c2;
}

.feed .holder .box {
  padding-top: 10px;
}

.step-2 h2, .step-3 h2 {
    margin:0;
    padding:0 0 0 10px;
}
.step-2 .holder, .step-3 .holder {
    overflow:hidden;
    width:100%;
}
.step-2 .box, .step-3 .box {
    overflow:hidden;
    width:388px;
    padding:10px;
    margin:10px 0 0 10px;
}
.step-2 .box input {
    overflow:hidden;
    margin:0 0 0 22px;
    clear:both;
}
.step-2 .box label {
    display:block;
    width:100%;
    overflow:hidden;
    padding:0 0 8px;
    font:12px/15px Arial, Helvetica, sans-serif;
    clear:both;
}
.step-2 .box label input {
    float:left;
    margin:2px 0 0;
    padding:0;
    padding:0;
    clear:both;
    width:auto;
}
* html .step-2 .box label input {
    width:15px;
    height:15px;
}
* +html .step-2 .box label input {
    width:15px;
    height:15px;
}
.step-2 .box label span {
    float:left;
    padding:0 0 0 10px;
}
/*-- pager --*/
ul.pager {
    margin:0;
    padding:0 0 0 17px;
}
ul.pager li{
    display:inline;
    margin:0 6px 0 0;
    font-size:10px;
    font-weight:bold;
    color:#555;
    border:1px solid #bbb;
    float:left;
    list-style:none;
}
ul.pager li.first {
    padding:0 5px;
}
ul.pager li a{
    text-decoration:none;
    color:#555;
    padding:0 5px;

}
ul.pager li a:hover,
ul.pager li a.active {background:#f2f7fa;}

/*-- Feedback --*/
.feedback_forms{
    display:none;
    position: relative;
    top: -350px;
    left: 25px;
    border: 5px solid black;
    background: #bbb;
    width: 600px;
    padding: 5px 20px 5px 20px;
}

.feedback_forms textarea, .feedback_forms textarea input{
    color : #000;
    border : 1px solid #996;
}

.feedback_forms button {
    height : 22px;
    border : 1px solid #000;
    background : #ccc;
}

.feedback_title {
    padding : 20px 0 0 10px;
}

.or_txt {
    padding : 0 10px 0 10px;
    font:14px/17px Arial, Helvetica, sans-serif;
}

.detailed_feedback {
    text-align : center;
    padding: 10px 0 0 0;
    width : 150px;
    height : 50px;
    border : 1px solid #000;
    background : #ccc;

}

.detailed_feedback a {
    color : #000;
    font:14px/17px Arial, Helvetica, sans-serif;
    text-decoration :none;
}

/*-Search-*/
.search_block{
    padding:30px;
}
.search_info{
    margin:0 0 15px 0;
    border:1px solid #999;
    padding:5px;
    background-color:#eee;
}
.search_result{
    margin:0 0 15px 0;
}
.search_highlight{
    font-weight:bold;
}
.search_result{
    font-size:13px;
}
.search_result h3{
    margin:0;
    padding:0;
    font-weight:normal;
    font-size:16px;
}
.search_date{
    font-size:12px;
    color:#006600;
    font-style: italic;
    margin-top:3px;
}
/*-gallery-*/
.gallery {
    overflow:hidden;
    width:100%;
    padding:0 0 10px;
}
.gallery .gal-nav {
    overflow:hidden;
    width:98%;
}
.gallery .gal-nav a.btn-prev {
    float:left;
    width:34px;
    height:31px;
    margin:7px 0 0;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/btn-prev.gif) no-repeat;
}
.gallery .gal-nav a.btn-prev:hover {background-position:0 -31px;}
.gallery .gal-nav a.btn-next {
    float:right;
    width:34px;
    height:31px;
    margin:7px 0 0;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/btn-next.gif) no-repeat;
}
.gallery .gal-nav a.btn-next:hover {background-position:0 -31px;}
.gallery .gal-nav .mask {
    float:left;
    width:320px;
    height:43px;
    margin:0 0 0 12px;
    display:inline;
    overflow:hidden;
}
.gallery .gal-nav .mask ul {
    overflow:hidden;
    width:9999px;
    margin:0;
    padding:0;
}
.gallery .gal-nav .mask ul li {
    float:left;
    padding:0 10px 0 0;
    list-style:none;
    border:none;
    width:auto;
}
.gallery .gal-nav .mask ul li img {
    display:block;
    margin:0;
    border:1px solid #ccc;
}
.gallery .big-img {
    overflow:hidden;
    width:100%;
    padding:10px 0 0;
}
.gallery .big-img img {
    display:block;
    margin:0;
    border:1px solid #ccc;
}

.report-description .orig-report {
    overflow:hidden;
    margin: 15px;
    padding: 0px;
}
.report-description .orig-report .report {
    overflow:hidden;
    background:#ffc;
    padding:10px;
    width:818px;
}
.report-description .orig-report .report h4 {
    margin:0;
    width:100%;
    clear:both;
    font:bold 12px/17px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}
.report-description .orig-report .report p {
    margin:0;
    font:12px/17px Arial, Helvetica, sans-serif;
}
.report-description .orig-report .report a.lnk {
    float:left;
    margin:7px 0 0;
    font:10px/13px Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:#fff;
    background:#393 url(../images/green-btn-l.gif) no-repeat;
    text-transform:uppercase;
}
.report-description .orig-report .report a.lnk:hover,
.report-description .orig-report .report a.lnk:hover span {text-decoration:underline;}
.report-description .orig-report .report a.lnk span {
    float:left;
    padding:0 4px;
    cursor:pointer;
    background:url(../images/green-btn-r.gif) no-repeat 100% 0;
}
.report-description .orig-report .discussion {
    overflow:hidden;
    padding:0px;
    width:798px;
}
.report-description .orig-report .discussion h5 {
    margin:0;
    width:100%;
    clear:both;
    font:bold 12px/17px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}
.discussion h5 a, .discussion h5 a:visited{
    text-transform:none;
}
.report-description .orig-report .discussion .discussion-box {
    overflow:hidden;
    width:100%;
    margin:10px 0 0;
    padding:10px;
    background:#eee;
}
.report-description .orig-report .discussion .discussion-box p {
    margin:0;
    font:12px/17px Arial, Helvetica, sans-serif;
}
.report-description .orig-report .discussion .discussion-box a.lnk {
    float:left;
    margin:7px 0 0;
    font:10px/13px Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:#fff;
    background:#393 url(../images/green-btn-l.gif) no-repeat;
    text-transform:uppercase;
}
.report-description .orig-report .discussion .discussion-box a.lnk:hover,
.report-description .orig-report .discussion .discussion-box a.lnk:hover span {text-decoration:underline;}
.report-description .orig-report .discussion .discussion-box a.lnk span {
    float:left;
    padding:0 4px;
    cursor:pointer;
    background:url(../images/green-btn-r.gif) no-repeat 100% 0;
}

/*---blocks-holder---*/
.blocks-holder {
    overflow:hidden;
    width:100%;
    margin: 30px;
}

/*--error/success--*/
div.green-box, div.red-box {
    margin:10px 0 25px 0;
    padding:9px 0 8px;
    clear:both;
    overflow:hidden;
}

div.green-box { background:#d8f1d8; border:2px solid #a7d1a7; }

div.red-box { background:#FFD8D9; border:2px solid #990000; }

div.green-box h3, div.red-box h3{
    margin:0;
    padding:0 0 0 15px;
    font-size:14px;
    color:#555;
}
div.green-box ul, div.red-box ul{
    margin-left:2em;
    padding-left:2em;
}

/*--Alerts Messages--*/
.alert_response, .thanks_msg {
    margin:10px 15px 10px 15px;
    border:2px #ccc solid;
    background-color:#fff;
    padding: 15px;
    font:14px/17px Arial, Helvetica, sans-serif;
}
.alert_confirm {
    margin:10px 0 0 0;
    padding:10px;
    border:1px #ccc solid;
    background-color:#FFFFCC;
}
.alert_confirm .label{
    margin-bottom:10px;
}

span.required {
  color: #CC1830;
}

/* Rounded Corners */
.r-3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.r-4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.r-5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.r-8 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

.top-cap {
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.right-cap {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottom-cap    {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.left-cap {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*-- btns --*/
.btns ul{
    margin:0;
    padding:9px 10px 0;
    clear:both;
    overflow:hidden;
    font-size:90%;
}
.btns ul li{
    padding:0 2px;
    float:left;
    list-style:none;
}
.btns ul li a{
    padding:0 6px;
    color:#5c5c5c;
    background:#f2f7fa;
    float:left;
    line-height:24px;
    text-decoration:none;
    border:1px solid #d1d1d1;
}
.btns ul li a.btns_red{ background:#FFE9EC; }
.btns ul li a.btns_gray{ background:#eee; }
.btns ul li a:hover{ text-decoration:underline;}
/*-- btns --*/

/* Map Labeler */
#geometryLabelerHolder{
    position:absolute;
    bottom:0;
    display:none;
    width:100%;
    background-color:#00008b;
    opacity:0.8;
    z-index:5000;
}
#geometryLabeler{ padding:10px; }
#geometryLabeler label {
    font-weight:bold;
    color:#fff;
    margin-right:5px;
}
#geometryLabeler .lbl_text{
    width:80px;
    margin-right:15px;
}
#geometryLabeler .lbl_text2{
    width:180px;
}
#geometryLabeler #geometryLabelComment{
    padding-bottom:7px;
    margin-bottom:7px;
    border-bottom:1px dotted #fff;
}
#geometryLat, #geometryLon{
    display:none;
}
#geometryLabelerClose{
    z-index:5001;
    position:absolute;
    top:2px;
    right:0;
    width:18px;
    height:18px;
    background: url("../img/openlayers/layer-switcher-minimize.png") no-repeat;
    cursor: pointer;
}

/*
Theme Name: Front-End Reports Filtering
Description: Markup for Front-End Reports Filtering
Author: Caleb Bell
version: 1
*/

/* Reports/Filters Layout */
#reports-box { float:left; width:600px; }
#filters-box { float:left; width:280px; margin-left:20px; }


/* Report Box Navigation Controls (pagination, view/map toggle...etc) */
.rb_nav-controls { background:#404040; border:1px solid #ccc; height:35px; color:#dedede; }
.rb_nav-controls table { height:inherit; }
.rb_nav-controls td { border-right:1px solid #ccc; vertical-align:middle; padding:0 6px; }
.rb_nav-controls td.last { border:none; padding:0 0 0 18px; }

/* Link Toggle */
.rb_nav-controls .link-toggle { margin-right:5px; }
ul.link-toggle { display:block; }
ul.link-toggle li { display:inline-block; }
ul.link-toggle li a {
    display:inline-block;
    padding:3px 5px;
    color:#a2a8a5;
    border:1px solid #404040;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ul.link-toggle li a:hover { background-color:#8a8a8a; }

ul.lt-icons-and-text li a { padding:3px 5px 3px 25px; }
ul.lt-icons-only li a { overflow:hidden; text-indent:-23434px; }

/* Icons and text */
ul.link-toggle li.active a,
ul.link-toggle li a:hover { color:#fff; border:1px solid #8a8a8a; text-decoration:none; }

ul.link-toggle li a.list { background:transparent url("../images/icon_sprite-2.png") 2px -29px no-repeat; ; }
ul.link-toggle li.active a.list,
ul.link-toggle li a:hover.list { background:#8a8a8a url("../images/icon_sprite-2.png") 2px -3px no-repeat}

ul.link-toggle li a.map { background:transparent url("../images/icon_sprite-2.png") 2px -80px no-repeat; }
ul.link-toggle li.active a.map,
ul.link-toggle li a:hover.map { background:#8a8a8a url("../images/icon_sprite-2.png") 2px -54px no-repeat; }

/* Icons only */
ul.link-toggle li a.prev,
ul.link-toggle li a.next { border:1px solid #7d7d7d; }
ul.link-toggle li a.prev { width:10px; background:#5f5f5f url("../images/icon_sprite-2.png") 0 -147px no-repeat; }
ul.link-toggle li a.next { width:10px; background:#5f5f5f url("../images/icon_sprite-2.png") 0 -128px no-repeat; }
ul.link-toggle li a:hover.prev,
ul.link-toggle li a:hover.next { background-color:#6e6e6e; }

/* Pagination */
.rb_nav-controls ul.pager { display:block; padding:0; margin-left:5px;  }
.rb_nav-controls ul.pager li { border:none; color:#fff; }
.rb_nav-controls ul.pager li.first {margin:0 6px 0 0; padding:0;}
.rb_nav-controls ul.pager li.last {}
.rb_nav-controls ul.pager li a {
    display:inline-block;
    padding:3px 5px;
    color:#a2a8a5;
    border:1px solid #a2a8a5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rb_nav-controls ul.pager li a:hover,
.rb_nav-controls ul.pager li.current a { color:#fff; background:#6c6c6c; }


/* Heading with tabs */
.heading { border-bottom:3px solid #c2c2c2; position:relative; }
a.ic-time {
    font-size:12px;
    font-weight:normal;
    display:inline-block;
    padding:3px 0 3px 20px;
    background:transparent url("../../default/images/icon_sprite.png") no-repeat scroll -3px -133px;
}

/* Tooltip box */
#tooltip-box {
    display:none;
    position:absolute;
    z-index:200;
    width:250px;
    background:#f2f2f2;
    font-size:10px;
    padding:5px;
    color:#494949;
    border:1px solid #c4c4c4;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow: 0 2px 0 #948F82;
    -moz-box-shadow: 0 2px 0 #948F82;
    box-shadow: 0 2px 0 #948F82;
}

#tooltip-box .t-arrow {
    position:absolute;
    top:-13px;
    right:118px;
    background:transparent url("../images/icon_sprite-2.png") 0 -181px no-repeat;
    width:26px;
    height:14px;
}

ul.inline-links { display:block; text-align:center;  }
ul.inline-links li { display:inline; list-style-type:none; }
ul.inline-links li a { font-size:12px; font-weight:normal; display:inline-block; padding:3px 5px; }
ul.inline-links li a:hover { text-decoration:none; }
ul.inline-links li a.active { background:#c2c2c2; font-weight:bold; color:#fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

p.labeled-divider { text-align:center; border-top:1px solid #a4a4a4; margin:10px 5px 0; }
p.labeled-divider span { position:relative; top:-8px; display:inline-block; background:#f2f2f2; padding:0 8px; }

/* Report List View */
.rb_report { position:relative; border-top:1px solid #c0c2b8; overflow:auto; padding-bottom:10px; }
#rb_list-view { padding:18px 0 0 0; overflow:auto; }
#rb_list-view .rb_report {
    position:relative;
    border:1px solid #c0c2b8;
    overflow:auto;
    margin-bottom:10px;
    padding:0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-left:6px solid #368C00;
}
#rb_list-view .verified { border-left:6px solid #368C00; }
#rb_list-view .unverified { border-left:6px solid #A60003; }

.reports-box .hover { background:#fffded; }

.r_media { float:left; width:95px; margin:3px 15px 3px 3px; }
.r_photo a { display:inline-block; padding: 2px; border:1px solid #c0c2b8;}
.r_video { }
.r_video a { display:inline-block; font-size:11px; background:transparent url(../../default/images/icon_sprite.png) -3px -100px no-repeat; padding:4px 0 3px 23px; }

.r_categories { position:relative; margin-top:10px; display:none; }
.r_categories h4 { font-size:10px; padding:0; margin:0 0 4px 0; border-bottom:1px solid #c0c2b8; text-transform: uppercase; }
a.r_category { display:block; position:relative; float:left; height:16px;    width:16px; margin:0 4px 4px 0; }
a.r_category span.r_cat-box { display:block; height:16px;    width:16px; background:transparent; }
span.r_cat-desc { display:none; }

.r_cat_tooltip {
    display:none;
    position:absolute;
    z-index:1000;
    background:transparent url(../../default/images/tooltip-arrow.png) 8px bottom no-repeat;
    padding:0 0 6px;
}
.r_cat_tooltip a { background:#282828; display:inline-block; padding:3px 8px; color:#fff; text-transform:uppercase; font-size:10px; }
.r_cat_tooltip a:hover { text-decoration:none; color:#fff; }

.r_details { float:left; width:auto; margin:3px 0; }
.r_details h3 { margin-bottom:0px; width:320px; }
.r_details h3 a.r_title { font-size:14px; color:#727272; }
.hover .r_details h3 a.r_title { color:#3764AA; }

.r_details h3 a.r_comments {
    color:#fff; font-size:11px;
    display:inline-block;
    text-align:center;
    height:19px;
    width:24px;
    padding:4px 0 3px;
    background:transparent url(../../default/images/icon_sprite.png) 0 0 no-repeat;
}

.r_details h3 a.r_comments:hover {  }

/* Verified/unverified */
.r_details h3 span {
    display:none;
    position:absolute;
    top:0px;
    left:-10px;
    color:#FFFFFF;
    font-size:9px;
    font-weight:normal;
    margin:0 0 0 7px;
    padding:1px 3px;
    text-align:center;
    text-transform:uppercase;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.r_details h3 span.r_verified { background:#368C00; }
.r_details h3 span.r_unverified { background:#A60003; }

/* Show on hover */
.hover .r_details h3 span { display:inline-block; }

p.r_date {
    position:absolute;
    top:0px;
    right:0px;
    padding:3px 5px 4px 23px;
    background:#e3e3e3 url(../../default/images/icon_sprite.png) 0px -133px no-repeat;
    color:#908b88;
}

div.r_description { margin-bottom:5px; width:450px; }

#rb_list-view p.r_location { display:none; }

p.r_location a {
    color:#828784;
    font-size:11px;
    line-height:11px;
    padding:4px 0 6px 18px;
    background:transparent url(../../default/images/icon_sprite.png) -6px -163px no-repeat;
}

/* "More Info" state */
a.btn-show { display:none; }
.hover a.btn-more { display:inline; }

.more-details .r_categories,
#rb_list-view .more-details p.r_location { display:block; }

/* Filters */
#filters-box {}
#filters-box h2 { color:#494949; }

/* jquery UI theme overrides for accordion */
#accordion .ui-accordion-header .ui-icon { right:.5em; }
.ui-accordion .ui-accordion-header a { padding:0.5em 2.2em 0.5em 0.5em; color:#797979; font-weight:bold; }
#accordion .ui-accordion-header .small-link-button {
    position:absolute;
    top:0;
    right:0;
    display:inline-block;
    font-size:.9em;
    font-weight:normal;
    text-decoration:underline;
}

/* Active state */
.ui-state-active, .ui-widget-content .ui-state-active { background:#efefef url(../images/bg_filter-accordion-title.png) top repeat-x; }
.ui-state-active a.f-title { color:#2f4079; }
.ui-accordion .ui-accordion-content { background:#efefef; }

/* Content area */
.ui-accordion .ui-accordion-content { padding:0 8px 18px 8px; font-size:11px; }
.ui-accordion .ui-accordion-content p { margin-bottom:8px; }
.ui-accordion .ui-accordion-content a { color:#1f5e82;  }
.ui-accordion .ui-accordion-content a.reset,
.ui-accordion .ui-accordion-header a.reset, a.reset { color:#981e01;  }

/* Filter content boxes */
.f-category-box { height:258px; }
.f-location-box .map { width: 259px !important; height: 280px !important; padding: 0; margin: 0;}
.f-location-box .rb_location-radius { width: 255px; height: 275px; }
.f-type-box {}
.f-verification-box {}
.f-media-box {}

/* Filter List */
ul.filter-list { list-style-type:none; position:relative; }
ul.filter-list ul { list-style-type:none; padding:0 0 0 20px; }
ul.filter-list li { display:block; position:relative; }
ul.filter-list li a { display:block; position:relative; overflow:auto; padding:3px 0 3px 20px; margin-bottom:3px; }

ul.filter-list li a.selected {
    background:#dbdbdb url("../images/icon_sprite-2.png") -22px -103px no-repeat;
    z-index:120;; color:#636363;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.filter-list li a span.item-swatch { display:block; height:16px; width:16px; margin-right: 8px; border:1px solid white; float:left; overflow: hidden; }
ul.filter-list li a span.item-icon { display:block; float:left; margin-right:8px; height:16px; width:16px; }
ul.filter-list li a span.item-title { display:block; padding:0 40px 0 26px; }
ul.filter-list li a span.item-count {
    display:block;
    padding:1px 3px;
    position:absolute;
    right:0;
    top:4px;
    background:#dbdbdb;
    color:#636363;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.filter-list li li { position:relative; }

ul.filter-list li a.btn-cancel {
    position:absolute;
    left:0;
    overflow:hidden;
    height:25px;
    width:20px;
    text-indent:-23423px;
    background:transparent url("../images/icon_sprite-2.png") -22px -103px no-repeat;
    z-index:120;
}

/* For child categories because nested UL/LIs are difficult in this case */
li.report-listing-category-child { padding-left:20px; }

/* Filter Controls */
#filter-controls    { position:relative; padding:15px; margin-top:-2px; }
.expected-results {  }

a.filter-button    {
    position:absolute;
    right:0px;
    top:11px;
    color:#fff;
    display:inline-block;
    text-transform:uppercase;
    padding:5px 8px;
    font-weight:bold;
    background:#404040;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.filter-button:hover { text-decoration:none; background:#707070;  }


/* Icons */
/* things */
.ic-sms { background:transparent url(../images/icons/mobile-phone.png) no-repeat; }
.ic-email { background:transparent url(../images/icons/mail.png) no-repeat; }
.ic-rss { background:transparent url(../images/icons/social-rss.png) no-repeat; }
.ic-webform { background:transparent url(../images/icons/application-form.png) no-repeat; }
.ic-photos { background:transparent url(../images/icons/images.png) no-repeat; }
.ic-videos { background:transparent url(../images/icons/films.png) no-repeat; }
.ic-news { background:transparent url(../images/icons/newspapers.png) no-repeat; }
.ic-verified { background:transparent url(../images/icons/tick-button.png) no-repeat; }
.ic-unverified { background:transparent url(../images/icons/cross-button.png) no-repeat; }

/* social */
.ic-twitter { background:transparent url(../images/icons/twitter.png) no-repeat; }
.ic-facebook { background:transparent url(../images/icons/facebook.png) no-repeat; }
.ic-youtube { background:transparent url(../images/icons/youtube.png) no-repeat; }
.ic-foursquare { background:transparent url(../images/icons/foursquare.png) no-repeat; }
.ic-meetup { background:transparent url(../images/icons/meetup.png) no-repeat; }
.ic-posterous { background:transparent url(../images/icons/posterous.png) no-repeat; }
.ic-reddit { background:transparent url(../images/icons/reddit.png) no-repeat; }
.ic-tumblr { background:transparent url(../images/icons/tumblr.png) no-repeat; }
.ic-yelp { background:transparent url(../images/icons/yelp.png) no-repeat; }
.ic-linkedin { background:transparent url(../images/icons/linkedin.png) no-repeat; }
.ic-stumbleupon { background:transparent url(../images/icons/stumbleupon.png) no-repeat; }
.ic-technorati { background:transparent url(../images/icons/technorati.png) no-repeat; }
.ic-vimeo { background:transparent url(../images/icons/vimeo.png) no-repeat; }

#accordion .ui-accordion-header a.hide { display:none; }

.ui-datepicker { display:none; } /* fixes bug where an empty datepicker div was showing up on the bottom of the reports page */


/* Rounded Corners */
.r-3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.r-4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.r-5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.r-8 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

.top-cap {
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.right-cap {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottom-cap    {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.left-cap {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.badge {
    float:left;
    width:100px;
    text-align:center;
    background-color:#E9E9E9;
    padding:5px;
    margin:0px 5px;
}

/*----- Checkins -----*/
div.ci_imgblock {
	width:59px;
	height:59px;
	overflow:hidden;
	float:left;
	margin:0px;
}
div.ci_shorterblock {
	height:16px;
}
div.ci_tallerblock {
	height:59px;
}
div.ci_colorblock {
	width:69px;
	float:left;
	margin:0px 10px 0px 0px;
}
div.ci_colorfade {
	width:59px;
	height:20px;
	float:left;
	margin:0px;
	background-color:#FFFFFF;
	opacity:.5;
}
div.ci_checkin {
	border-bottom:1px solid #B3B3B3;
}
